.hero{
    height: 80vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%); 
    display: flex;
    padding-top:100px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding-left: 10%;
    line-height: 1.1;
}
.hero-left h2{
   color: #090909;
   font-size: 25px;
   font-weight: 600; 
}
.hero-left p{
    color: #171717;
    font-size: 70px;
    font-weight: 760px;
}
.hand-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand-hand-icon img{
    width: 100px;
}
.hero-latest-btn{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap:15px;
    width: 270px;
    height: 60px;
    border-radius: 75px;
    margin-top:30px;
    background: red;
    color:white;
    font-size: 22px;
    font-weight: 550px;
}
.hero-right{
    padding-top: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width:1050px){
     .hero{
        height: 50vh;
     }
     .hero-right img{
        width: 80%;
        margin-top: -100px;
     }
     .hero{
        margin-bottom: 100px;
     }
     .hero-left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        padding-left: 8%;
        line-height: 1.1;
    }
    .hero-left h2{
       color: #090909;
       font-size: 20px;
       font-weight: 600; 
    }
    .hero-left p{
        color: #171717;
        font-size: 50px;
        font-weight: 760px;
    }
    .hand-hand-icon{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .hand-hand-icon img{
        width: 80px;
    }
    .hero-latest-btn{
        gap:15px;
        width: 200px;
        height: 50px;
        margin-top:10px;
    
    }

 }
 @media screen and (max-width:890px){
    .hero-left{
       display: flex;
       flex-direction: column;
       gap: 0px;
       padding-left: 7%;
       line-height: 1.1;
       padding-top: 100px;
   }
}
@media screen and (max-width:550px){
    .hero-right img{
        width: 100%;
        display: none;
     }
     .hero{
        width: 100%;
     }
}
@media screen and (max-width:450px){
    .hero-right img{
        width: 100%;
        display: none;
     }
     .hero{
        width: 120%;
     }
}
@media screen and (max-width:350px){
    .hero-right img{
        width: 100%;
        display: none;
     }
     .hero{
        width: 135%;
     }
}